[data-action="start"],
[data-action="stop"] {
  width: 200px;
  height: 60px;
  font-size: 24px;
  font-weight: 600;
  color: rgb(60, 68, 66);
  transition: all 0.2s linear;
  cursor: pointer;
}

[data-action="start"] {
  background-color: rgba(135, 95, 187, 0.7);
  border: 2px solid rgb(116, 116, 111);
}

[data-action="start"]:hover {
  background-color: rgba(135, 95, 187, 1);
}

[data-action="stop"] {
  background-color: rgba(68, 165, 160, 0.7);
  border: 2px solid rgb(116, 116, 111);
}

[data-action="stop"]:hover {
  background-color: rgba(68, 165, 160, 1);
}

.container {
  display: flex;
  justify-content: center;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
  border: 3px dashed firebrick;
  background-color: lemonchiffon;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  transform: translateX(calc(-100% - 8px));
  opacity: 0;
  transition: all 0.3s linear;
}

.message.visible {
  transform: translateX(0);
  opacity: 1;
}