.Contact-slide-appear {
  opacity: 0;
  transform: translateX(-100%);
}

.Contact-slide-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms linear;
}

.Contact-slide-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.Contact-slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms linear;
}

.Contact-slide-exit {
  opacity: 1;
  transform: translateX(0);
}

.Contact-slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 250ms linear;
}
