.Filter-block-exit {
  transform: scale(1);
}

.Filter-block-exit-active {
  transform: scale(0.1);
  transition: all 250ms linear;
}

.Filter-block-appear {
  transform: scale(0.1);
}

.Filter-block-appear-active {
  transform: scale(1);
  transition: all 250ms linear;
}
